<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>BIBLI OH TECH</title>
</head>

<body>
   
    {% block contenu%} 
    
    {% endblock contenu%}
    <script src="/js/main.js"></script>
</body>
</html>