<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>BIBLI OH TECH</title>
</head>

<body>
   <section class="container">
        <div class="main">
           <h1> BIENVENUE</h1>
           <p>à la</p>
           <h2>BIBLI OH TECH</h2>
           <form action="#" class="login-form">
    
            <div class="txtb">
                <input type="text" name="username" id="username" class="input">
                <span data-placeholder="Identifiant"></span>
            </div>
            <div class="txtb">
                <input type="password" name="password" id="password" class="input">
                <span data-placeholder="Mot de passe"></span>
            </div>
            <input type="submit" class="btn" value="Rentrer">
    
            <div class="bottom-text">
                <p>Vous n'avez pas de compte? <a href="#">Créer un compte</a></p>
            </div>
            <a href="/livres"> Rentrez sans mot de passe provisoirement</a>
        </form>
        </div>
    </section>
   <script src="js/main.js"></script>
    {% block contenu%} {% endblock contenu%}
</body>
</html>